{% extends 'base.html' %}
{% block contents %}
{% load static %}
 <div
      class="hero page-inner overlay"
      style="background-image: url({% static 'images/hero_bg_3.jpg' %})"
    >
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">
                Enquiries
            </h1>

          </div>
        </div>
      </div>
    </div>


<div class="container my-5 d-flex">
{% for i in enquiries %}
<div class="card me-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{i.property.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{i.buyer.username}}</h6>
    <p class="card-text">{{i.message}}</p>
    <small class="card-text">{{i.date_added}}</small>
    <div class="my-3 me-3">
      {% if i.status == 'accepted' %}
      <span class="badge bg-secondary" style="padding:10px 15px">Accepted</span>
      {% elif i.status == 'rejected' %}
      <span class="badge" style="padding:10px 15px;background-color:red;">Rejected</span>
      {% else %}
      <a href="{% url 'listing:enquiryaccept' i.id %}" class="btn btn-success me-3 fs-6" style="padding: 4px 8px; font-size: 14px;">Accept</a>
      <a href="{% url 'listing:enquiryreject' i.id %}" class="btn btn-danger fs-6" style="padding: 4px 8px; font-size: 14px;">Reject</a>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
  </div>
{% endblock %}